# Eclipse project data
.settings
.classpath
.project

# IntelliJ project data
.idea/

# Maven binaries
target/

# Visual Studio 2017 local files and databases
*.user
.vs/

# Visual Studio output folders
Debug/
Release/
Win32/
x64/
